<div class = "row justify-content-center">
  <div class="col-md-9">
    <br>
    <nav class="nav">
      <%= link_to root_path, class: 'nav-link active' do %>
      <i class="fa fa-home" aria-hidden="true"></i> Home 
      <% end %>
      <a class="nav-link" href="#"><i class="fa fa-users" aria-hidden="true"></i> About Us</a>
    </nav>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <%= will_paginate(@images, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
      </div>
      <div class="col-md-6" align="right" style="margin-bottom: 15px">
        <%= link_to new_image_path, class: 'btn btn-outline-info' do %>
        <i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload Image
        <% end %>
         <a href = "/images.json" class = "btn btn-outline-success">
          <i class="fa fa-cube" aria-hidden="true"></i> Get JSON
        </a>
      </div>
    </div>

    <div class="row">
      <% @images.each do |image| %>
      <div class = "col-md-6 col-xs-12" style="margin-bottom: 25px">
        <div class="card">
          <%= image_tag image.url, class: 'card-img-top', style: 'width: 100%; height: 250px' %>
          <div class="card-body">
            <h4 class="card-title"><%= image.author %></h4>
            <br>
            <%= link_to image, class: 'card-link info' do %> 
            <i class="fa fa-eye" aria-hidden="true"></i> Show
            <% end %>
            <%= link_to edit_image_path(image), class: 'card-link' do %>
            <i class="fa fa-edit" aria-hidden="true"></i> Edit
            <% end %> 
            <%= link_to image, method: :delete, data: {confirm: 'Are you sure?'}, class: 'card-link' do %>
            <i class="fa fa-trash" aria-hidden="true"></i> Delete
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <hr>
    <%= will_paginate(@images, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
</div>