
<br>
<% if notice.present? %>
<div class="alert alert-success" role="alert">
  <%= notice %>
</div>
<% end %>
<h2><%= @image.url.file.filename %></h2>

<hr>

<div class = "row">
  <div class = "col-md-3 col-xs-12">
    <%= image_tag @image.url, style: 'width: 100%; height:250px' %>
    <%= link_to @image.url_url, class: 'btn btn-outline-secondary', style: 'width: 100%; margin-bottom: 15px; border-radius: 0' do %>
      <i class="fa fa-eye" aria-hidden="true"></i> View Image
    <% end %> 
  </div>
  <div class = "col-md-9 col-xs-12">
    <p>
      <strong>Title:</strong>
      <%= @image.author %>
    </p>
    <p>
      <strong>Text:</strong><br>
      <% opts = @image.text.to_s.split("\n") %>
      <% opts.each do |opt| %>
      <lable><%= opt %></lable><br>
      <% end %>
    </p>
  </div>
</div>

<hr>
<div class = "row">
  <div class="col-md-6" style="margin-bottom: 15px">
    <%= link_to images_path, class: 'btn btn-secondary' do %>
      <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
    <% end %> 
     <%= link_to edit_image_path(@image), class: 'btn btn-info' do %> 
    <i class="fa fa-edit" aria-hidden="true"></i> Edit
    <% end %> 
  </div>
  <div class="col-md-6" align="right">
    <a href = <%= "/images/"+"#{@image.id}"+".json" %> class = "btn btn-outline-success"><i class="fa fa-cube" aria-hidden="true"></i> JSON</a> 
    <%= link_to export_image_pdf_path(@image, format: 'pdf'), class: 'btn btn-outline-danger' do %> 
    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF
    <% end %>
     <%= link_to export_image_doc_path(@image), class: 'btn btn-outline-primary' do %> 
    <i class="fa fa-file-word-o" aria-hidden="true"></i> DOC
    <% end %>
  </div>
</div>